<head>
  <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
</head>
<body>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
  <div id="filtroOsm">
    <div class="card border-primary mb-3">
      <div class="card-body">
        <h4 class="card-title">Filtrar Casos</h4>
        <form name="settings" onsubmit="addCasesOsm(true); return false;">
          <div class= "row">
            <div class="col-sm-2">
              <input class= "input_mapaOsm" name="num" type="hidden" value="200" />
              <div class="settings_element">
                <div>Fecha:</div>
                <div>
                  <input type="text" name="desde" class="input_mapaOsm form-control"
                                                  placeholder= "Desde"
                                                  id="inputDesde"
                                                  data-behaviour="datepicker"
                                                  value=""
                                                  size="11"/>
                </div>
                <div>
                  <input type="text" name="hasta" class="input_mapaOsm form-control"
                                                  placeholder= "Hasta"
                                                  id="inputHasta"
                                                  data-behaviour="datepicker"
                                                  value=""
                                                  size="11"/>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="settings_element">
                <div>Departamento:</div>
                <div>
                  <select name="departamento" class="select_mapaOsm custom-select"
                                              id="departamento"
                                              style="width:140px;">
                    <option value="0">Mostrar todos</option>
                    <option value="">-----------------------</option>
                    <%= options_for_select(Sip::Departamento.habilitados.where(id_pais: 170).all.collect { |d| [d.nombre, d.id ] })
                  %> 
                </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="settings_element">
                <div>P. Responsable:</div>
                <div>
                  <select name="prresp" class="select_mapaOsm custom-select" id="presponsable" style="width:150px;">
                    <option value="0">Mostrar todos</option>
                    <option value="">-----------------------</option>
                    <%= options_for_select(Sivel2Gen::Presponsable.all.collect { |d| [d.nombre, d.id ] }) %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="settings_element">
                <div>Violencia:</div>
                <div>
                  <select name="tvio" class="select_mapaOsm custom-select" id="tvio" style="width:150px;">
                    <option value="0">Mostrar todos</option>
                    <option value="">-----------------------</option>
                    <%= options_for_select(Sivel2Gen::Categoria.all.collect { |d| [d.nombre, d.id ] })%>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-6">
                  <div class="alert alert-success" role="alert">
                    <span class="nrcasos" id="nrcasos"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button id="addCasesOsm" type="button" class="btn">Filtrar</button>
                </div>
                <img id='cargador'  src='<%= asset_path('spinnern.gif') %>'>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="agregaCapa">
    <button id="agregarCapa" type="button" class="btn btn-primary btn-sm">Agregar Capa</button>
  </div>
  <div id="mapa_osm"></div>
  <%= javascript_pack_tag 'mapaosm' %>
</body>
