<% content_for :titulo do %>
    <%= Sivel2Gen.titulo %>
<% end %>

<% content_for :menu do %>
  <%= menu_group do %>
    <% if !current_usuario.nil? %>
      <%= drop_down "Casos" do %>
        <%= menu_item "Listado", sivel2_gen.casos_path %>
        <%= menu_item "Nuevo Caso", sivel2_gen.new_caso_path %>
        <%= menu_item "Validar casos", sivel2_gen.validarcasos_path %>
      <% end %>
      <%= drop_down "Reportes y conteos" do %>
        <%= menu_item "Listado de víctimas y casos", 
          sivel2_gen.victimas_path %>
        <%= menu_item "Conteo demografía víctimas", 
          sivel2_gen.conteos_personas_path %>
        <%= menu_item "Conteo de victimizaciones individuales", 
          sivel2_gen.conteos_victimizaciones_path %>
        <%= menu_item "Conteo general de víctimas", 
          sivel2_gen.conteos_genvic_path %>
      <% end %>
    <% end %>
  <% end %>
  <%= menu_group :pull => :right do %>
    <% if !current_usuario.nil? %>
      <%= drop_down "Documentos" do %>
        <%= menu_item "Manual", 'https://docs.google.com/document/d/1xr1vtkfpWdpM_VrEbHacm44NiMPCzAIcRUS1ENoBrQU/edit?usp=sharing' %>
        <%= menu_item "Nube", heb412_gen.sisini_path %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= menu_item "Plantillas para listado en hojas de calculo",
            heb412_gen.plantillashcm_path %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= menu_item "Plantillas para un registro en hoja de calculo",
            heb412_gen.plantillashcr_path %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantilladoc %>
          <%= menu_item "Plantillas para un registro en documento",
            heb412_gen.plantillasdoc_path %>
        <% end %>
      <% end %>
      <%= drop_down "Administrar" do %>
        <%= menu_item "Clave", main_app.editar_registro_usuario_path %>
        <% if session[:capturacaso_acordeon] %>
          <li><a id="fichacasovertical" href="<%= sivel2_gen.fichacasovertical_path %>">Ficha caso vertical ✓</a></li>
        <% else %>
          <li><a id="fichacasovertical" href="<%= sivel2_gen.fichacasovertical_path %>">Ficha caso vertical</a></li>
        <% end %>
        <% if can? :manage, ::Usuario %>
          <%= menu_item "Usuarios", main_app.usuarios_path %>
        <% end %>
        <% if can? :manage, :tablasbasicas %>
          <%= menu_item "Tablas Básicas", sivel2_gen.tablasbasicas_path %>
        <% end %>
        <% if can? :manage, Sip::Respaldo7z %>
          <%= menu_item "Respaldo cifrado", sip.respaldo7z_path %>
        <% end %>
      <% end %>
      <%= menu_item "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= menu_item "Acerca de", sivel2_gen.acercade_path %>
      <%= menu_item "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>Dominio Público de acuerdo a Legislación Colombiana<br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2019.
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
